<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EMI Calculator Test Suite">
  <test thread-count="5" name="Tests">
    <classes>
      <class name="com.cognizant.TestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->



<!-- to run this use the command: mvn clean test -->